.product-btn{
    background-color: black;
}

.product-btn:hover{
    background-color: white;
    color: black;

   
}

.vehicle-description-txt{
    font-size:medium ;
}

.search-input{
    background-color: white;
    
}
.search-input:focus{
    background-color: white;
    background: white;
}
.search-input::after{
    background-color: white;
    background: white;
}
.search-input:active{
    background-color: white;
    background: white;
}