.banner{
    max-height: 80vh;
}
.bannerLeft{
    padding-left: 50px;
    text-align: left;


}
.banner-btn {
    border: none;
    background: #757d82;
    background-image: linear-gradient(to bottom, #757d82, #272829);
    border-radius: 28px;

    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
.bannerTxt , .banner-btn-div{
    width: 90%;
    height: 50%;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-btn-div{
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 27%;
  

}
.bannerRight{
    height: 90vh;
    background-image: url('/public/Images/car.png');
    background-repeat: no-repeat;
    background-size: contain;
    overflow-x: hidden;
    
}